@font-face {
  font-family: rounded;
  src: url(./font/izayoi-monospaced.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: rounded;
  flex-wrap: wrap;
  background-color: black;
}

.header {
  display: flex;
  flex-direction: column;
  text-shadow: 5px 5px 10px black;
  background-image: url(./img/background.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #0b3075;
  padding: 10px 30px;
  background-color: transparent;
  width: 100%;
  z-index: 1;
  position: fixed;
  background-color: black;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 24px;
  color: white;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  font-size: 20px;
}

.secheader {
  display: flex;
  margin: 150px 0px;
  align-items: center;
  padding: 50px;
  gap: 100px;
  justify-content: space-between;
}

.secheader-title {
  color: white;
  font-weight: bold;
  font-size: 52px;
  align-self: center;
}

.secheader-span {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 72px;
  display: block;
}

.secheader-content {
  color: white;
  font-size: 18px;
  padding: 30px 0px;
}

.secheader-texts {
  padding: 10px 30px;
  width: 500px;
  flex-wrap: wrap;
}

.popular-box {
  background-color: #000;
  padding: 10px 30px;
}

.popular-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0px;
}

.popular-scroll {
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.scroll-img {
  cursor: pointer;
}

.scroll-img:hover {
  border: 4px solid #d5d5d5;
}

.quote-box {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  background-image: url(img/quote-background.jpg);
  background-color: black;
  background-attachment: fixed;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.quote-content {
  width: 650px;
  display: flex;
  flex-direction: column;
}

.quote-text {
  color: white;
  font-style: italic;
  font-size: 46px;
}

.quote-span {
  font-size: 56px;
  text-transform: uppercase;
}

.quote-span:hover {
  text-decoration: underline;
}

.quote-author {
  color: white;
  font-size: 24px;
  margin-top: 25px;
  align-self: flex-end;
}

.registration {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 100px 40px;
}

.reg-box {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 30px;
  width: 600px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.reg-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 20px;
}

.reg-button {
  color: black;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 10px 10px;
  font-family: rounded;
  width: 200px;
}

::-webkit-scrollbar {
  height: 10px;
  width: 4px;
  border-radius: 10px;
  border: 1px solid #000;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d5d5d5;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.credits {
  align-self: flex-end;
  justify-self: flex-end;
  background-color: black;
  border-radius: 40px;
  border: solid black;
  padding: 10px 30px;
  text-transform: uppercase;
  margin: 30px 30px;
}
